@keyframes p-m {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(70px);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}


body {
    text-align: center;
    background-color: #f4f4f4;
}

section {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main { background-image: url('img/bgMAIN.png'); }
#about { background-image: url('img/bgABOUT.png'); }
#skills { background-image: url('img/bgSKILLS.png'); }
#works { background-image: url('img/bgWORKS.png'); }
#comments { background-image: url('img/bgCOMMENTS.png'); }

.main-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.main-content {
    background-image: url('img/form1.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 400px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 30px;
}

.mascot {
    width: 120px;
    position: absolute;
    top: -45px;
}

.text-box {
    text-align: center;
    padding: 5px;
    margin-top: -5px;
}

.main-title {
    color: #2B2D35;
    font-size: 34px;
    margin-bottom: 0px;
}

.main-subtitle {
    font-size: 15px;
    color: #2B2D35;
}

.button {
    padding: 12px 25px;
    border-radius: 50px;
    border: 2px solid #000;
    background-color: #BBFF2C;
    box-shadow: 5px 5px 0 #000;
    margin-top: 15px;
    transition: 0.3s;
}

.button a {
    text-decoration: none;
    font-size: 18px;
    color: #000;
}

.button:hover {
    background: #a0d826;
}

.content-block {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}


.planet-background {
    position: absolute;
    top: 20px;
    right: 20px;
    transform: rotate(187deg);
    width: 405px;
    height: 330px;
}

.planet-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.moving-planet {
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 30px;
    left: 30px;
    animation: p-m 2s infinite alternate;
    z-index: 10; 
}

.moving-planet img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title{
    padding-top: 100px;
    text-align: center;
    color: #fff;
    font-size: 80px;
    text-shadow: 2.5px 2.5px 0 #616161;
    text-shadow: 5px 5px 0 #000;
    
}

